/* gradient background */
.App {
  min-height: 100vh;
  background: hsla(280, 84%, 41%, 1);
  background: linear-gradient(
    90deg,
    hsla(280, 84%, 41%, 1) 0%,
    hsla(218, 97%, 56%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(280, 84%, 41%, 1) 0%,
    hsla(218, 97%, 56%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(280, 84%, 41%, 1) 0%,
    hsla(218, 97%, 56%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8711C1", endColorstr="#2472FC", GradientType=1 );
}
